* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --darkGray: rgb(140, 140, 140);
  --veryDarkGray: rgb(105, 105, 105);
  /* Font weight 400 */
  --alata: 'Alata', sans-serif;
  /* Font weight 300 */
  --josefinSans: 'Josefin Sans', sans-serif;
}

body {
  font-family: var(--josefinSans);
  font-size: 15px;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url('../images/mobile/image-hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
}

.header__container-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

/* Logo */

.logo {
  position: relative;
  z-index: 101;
  margin-left: 20px;
}

/* Menu Hamburguesa */

.icon-hamburger {
  margin-right: 20px;
  position: relative;
  /* right: 20px; */
  cursor: pointer;
}

/* Icono close menu */

.icon-close {
  position: relative;
  z-index: 101;
  display: none;
  cursor: pointer;
  transform: translate(-110%);
  transition: transform .4s ease;
}

/* Nav */

.navegation {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background: var(--black);
  display: flex;
  align-items: center;
  transform: translate(-110%);
  transition: transform .4s ease;
}

.navegation__list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.navegation__list-item {
  margin: 15px;
}

.navegation__list-item-element {
  font-size: 25px;
  text-transform: uppercase;
  font-family: var(--josefinSans);
  color: var(--white);
}

/* Hero */

.hero {
  height: calc(100% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__text {
  margin: auto;
  border: 2px solid var(--white);
  max-width: 305px;
  padding: 15px;
  color: white;
  font-family: var(--josefinSans);
  font-weight: 300;
  font-size: 2.5rem;
  text-transform: uppercase;
}

/* Main - Wrapper */

.wrapper {
  width: 100%;
  background-color: var(--white);
}

.leader {
  max-width: 90%;
  margin: 80px auto;
  text-align: center;
}

.leader figure {
  margin: 0;
  padding: 0;
}

.leader figure .leader__image {
  max-width: 100%;
}

.leader__title {
  font-weight: 300;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 30px 0 20px 0;
}

.leader__text {
  font-weight: 400;
  font-family: var(--alata);
  font-size: 18px;
  color: var(--veryDarkGray);
}

/* Sección creations */

.creations {
  width: 90%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.creations__title {
  font-weight: 300;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

/* Creations grid */

.creations__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  gap: 30px;
}

.creations__grid-creation {
  height: 110px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.creations__grid-creation-title {
  text-align: left;
  font-size: 1.6rem;
  color: var(--white);
  text-transform: uppercase;
  font-family: var(--josefinSans);
  font-weight: 300;
}

.earth {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/mobile/image-deep-earth.jpg');
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, .3);
}

.arcade {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/mobile/image-night-arcade.jpg');
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, .3);
}

.soccer {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/mobile/image-soccer-team.jpg');
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, .3);
}

.grid {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/mobile/image-grid.jpg');
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, .3);
}

.vr {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/mobile/image-from-above.jpg');
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, .3);
}

.borealis {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/mobile/image-pocket-borealis.jpg');
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, .3);
}

.curiosity {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/mobile/image-curiosity.jpg');
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, .3);
}

.fisheye {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/mobile/image-fisheye.jpg');
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, .3);
}

.button__see-all {
  color: var(--black);
  border-top: 1.5px solid var(--black);
  border-right: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  border-left: 1px solid var(--black);
  padding: 10px 20px;
  margin: 20px auto;
  width: 120px;
  background: transparent;
  font-family: var(--alata);
  font-size: 1rem;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--black);
  cursor: pointer;
}

.button__see-all:hover {
  background: var(--black);
  color: var(--white);
  transition: all .2s ease-in;
}