* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --darkGray: rgb(140, 140, 140);
  --veryDarkGray: rgb(105, 105, 105);
  /* Font weight 400 */
  --alata: 'Alata', sans-serif;
  /* Font weight 300 */
  --josefinSans: 'Josefin Sans', sans-serif;
}

body {
  font-size: 15px;
}